body {
    display: block;
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}

.header-link {
    color: #6161ff;
}



/* HEADER */

a {
    text-decoration: none;
    font-size: 5rem;
}



/* MAIN */

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 2rem;
    text-align: right;
    padding-right: 1rem;
}



img {
    max-width: 95%;
    border: .5rem solid black;
    align-content: center;
    margin: 1rem 0 2rem 0;
}

.stars {
    text-align: center;
}

p {
    padding: 0 .5rem;
    line-height: 2rem;

}


@media only screen and (min-width: 768px) {
    h1 {
        font-size: 17rem;
        margin: 1rem;
        padding-left: 3rem;
    }


    h2 {
        font-size: 4rem;
        padding-right: 3rem;
    }

    img {
        max-width: 50%;
    }

    .intro {
        height: 100vh;
    }

    .bio {
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2rem;

    }

}

/* PROJECTS! */

.projects {
    background-color: #6161ff;
    border-radius: 10px;
    padding-bottom: 4rem;
}


.project-link {
    text-align: center;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

h3 {
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 0;
    padding-top: 3rem;
}

article {
    text-align: center;
}


/* FOOTER */

footer {
    color: #6161ff;
    padding-bottom: 1rem;
    margin: 0;
    border-radius: 10px;
    text-align: center;
}

footer img {
    border: none;
    margin: 0;
}